/* h2 { */
/*   color: red; */
/*   font-size: 30px; */
/* } */
/**/
/* a { */
/*   color: blue; */
/*   text-decoration: none; */
/* }; */

/* Class Selectors */
.sporty {
  color: red;
}

.casual {
  color: green;
}

.formal {
  color: brown;
}

/* ID Selectors */
#container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.casual,
.sporty {
  font-size: 35px;
}
