/* Note that all child elements inherit some properties from parents by default. Some elements are
 * not inheritable. 
 */
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* Class Selectors - most common for styling */
.sporty {
  color: red;
}

.casual {
  color: green;
}

.formal {
  color: brown;
}

/* ID Selectors - less commonly used */
#container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

.casual,
.sporty {
  font-size: 35px;
}

p {
  background: red;
}

/* 
 * Descendant Styles - only paragraph tags inside the container. This is more specific than the red
 * font above.
 */
#container p {
  background: blue;
}
